.hidden {
  height: 0;
  opacity: 0;
}

.actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: .5rem 0;
}

.actions .post-actions {
  display: flex;
}

.actions a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: .2s;
  padding: .5rem 0;
  border-radius: 3px;
  margin-right: 2rem;
}

.actions a i {
  margin-right: .5rem;
  font-size: 2rem;
  color: var(--color-primary);
}

.actions a:hover {
  background: var(--color-white);
}

.actions button {
  padding: .5rem .75rem;
  border: 0;
  border-radius: 3px;
  font-size: 1.15rem;
  letter-spacing: 1px;
  color: var(--color-primary);
  outline: none;
  background: white;
  border-bottom: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
}

.actions button:hover {
  background: var(--color-white);
  transition: .2s;
  cursor: pointer;
}

.actions button i {
  margin-left: .5rem;
}

.actions button.limpar-filtro {
  font-size: .85rem;
  color: var(--color-error);
  border: 0;
  margin-right: .5rem;
  padding: .5;
}

.actions button.limpar-filtro i {
  margin-right: .5rem;
}

#table-filtros {
  display: flex;
  width: 100%;
  transition: .3s ease;
  margin: .5rem 0;
}

#table-filtros td {
  border: 0 !important;
  width: 100%;
  padding: 0 .5rem;
  position: relative;
}

#employee-list-form, #table-filtros tbody {
  min-width: 100%;
  position: relative;
}

#table-filtros tr {
  padding: 1rem 0 .5rem 0;
}

#table-filtros tbody tr {
  display: block;
  width: 100%;
}

#table-filtros tbody tr td button[type="submit"] {
  width: 100%;
  height: 100%;
  display: block;
  min-width: 185px !important;
  padding: .60rem .75rem;
  color: var(--color-white);
  background: var(--color-primary);
  border: 0;
  letter-spacing: 1px;
  border-radius: 3px;
  font-size: 1.025rem;
  position: relative;
  top: .65rem;
  outline: none;
}

#table-filtros tbody tr td button[type="submit"] i {
  margin-right: .5rem;
}

#table-filtros tbody tr td button[type="submit"]:hover {
  opacity: .8;
  transition: .2s;
  cursor: pointer;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

.show-more span {
  text-decoration: underline;
  color: var(--color-primary);
  cursor: pointer;
}