section {
  padding: 2rem;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.15);
  color: var(--color-black);
  border: 1px solid var(--color-white);
}

section h1 {
  margin: 1.5rem 1rem;
  font-size: 1.5rem;
}

section article {
  background: var(--color-white);
  color: var(--color-black-light);
  padding: 1rem;
  font-size: .95rem;
  margin: 1.5rem 0;
}

section table td {
  border: 0;
  padding: .25rem 0;
}

section table tr td:first-child {
  font-weight: 700;
}

section table tr td:last-child {
  padding-left: 1rem;
}

#btn-gp {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: .5rem;
  align-items: center;
}

#btn-gp button {
  padding: 1rem 1.5rem;
  border: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
}

#btn-gp button:first-child {
  background: var(--color-secondary);
  color: var(--color-black);
}

#btn-gp button:last-child {
  background: var(--color-error);
  color: var(--color-white);
}

#btn-gp button:first-child:hover, #btn-gp button:last-child:hover {
  opacity: .8;
}

#btn-gp button i {
  margin-right: .5rem;
}