#content {
  width: 100%;
  height: 100%;
}

header, footer {
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--color-black);
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-size: .8rem;
}

header a, footer a {
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-secondary);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem;
}

header {
  justify-content: space-between;
  padding: 0 4rem;
  border-bottom: 1px solid var(--color-primary);
}

.logo {
  max-height: 2rem;
}

header .current-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .current-user img {
  max-width: 32px;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
  margin-left: .5rem;
}

footer {
  justify-content: center;
  line-height: 2rem;
  border-top: 1px solid var(--color-primary);
}

main {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 10%;
}