:root {
  --color-white: #F3F2FA;
  --color-primary: #4831D4;
  --color-secondary: #CCF381;
  --color-warning: #ffe66d;
  --color-warning-hover: #f7dc59;
  --color-error: #ff6b6b;
  --color-error-hover: #f76060;
  --color-black: #2B2B2B;
  --color-black-light: #303030;
  --color-gray: #dcdcdc;
  --color-light-blue: #edfcff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html, #root {
  min-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Epilogue', sans-serif;
  position: relative !important;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 100vh;
}